@import url("https://fonts.googleapis.com">
);

*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
body {
    background-color: #282c34;
    font-family: sans-serif;
    font-size: 3rem;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #000000;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: 100%;
    
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  
  @media (min-width: 600px) {
    .footer {
        grid-area: footer;
        background-color: rgb(99, 3, 3);
        background: linear-gradient(0deg, rgb(92, 3, 3) 50%, rgba(0,0,0,0.75) 100%);
        font-size: 1.2rem;
        position: block;
        bottom: 0% ;
    }
    .grid-container {
        display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
    grid-auto-rows: minmax(200px, auto);
    padding: 40px;
    }


    
  }
  @media (min-width: 900px) {
    .footer {
        grid-area: footer;
        background-color: rgb(99, 3, 3);
        background: linear-gradient(0deg, rgb(92, 3, 3) 50%, rgba(0,0,0,0.75) 100%);
        font-size: 1.2rem;
        position: block;
        bottom: 0% ;
    }
    .grid-container {
        
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: minmax(150px, auto);
    }
    .wide {
      grid-column: span 4;
    }
  
    .tall {
      grid-row: span 2;
    }
    
    
  }





html{
    height: 100%;
    
}

body {
    font-family: "public sans", sans-serif;
    font-size: 2.5rem;
    min-height: 100%;
    background-color: rgb(99, 3, 3);
    

     
}

.grid_container > * {
    box-shadow: -1px 1px 7px 0px rgb(0,0,0,0.75);
border-radius: 10px;
padding: 10px;
text-align: center;
color: rgb(2, 2, 2);

}




.header {
    grid-area: header;
    background-color: rgb(0, 0, 0);
    place-self: strech;
    background-color: rgb(99, 3, 3);  
    place-items: center ;
    
    
}
.nav {
    grid-area: navbar;
    background-color: rgb(99, 3, 3);
    
    
    
    
}
.main {
    grid-area: main;
    place-items: center ;
    
    color: white;
    background-image: url("../assets/images/pantalla.jpg");
    
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
    
 
}
.sidebar {
    grid-area: sidebar;
    background-color: rgb(99, 3, 3);
    color:rgb(255, 255, 255);
    font-size: 1.3rem;
   
}
.footer {
    grid-area: footer;
    background-color: rgb(99, 3, 3);
    background: linear-gradient(0deg, rgb(92, 3, 3) 50%, rgba(0,0,0,0.75) 100%);
    font-size: 1.2rem;
    position: sticky;
    bottom: 0% ;
    
    
    
}

.grid_container{
    background-color: black;
    display: grid;
    gap: 5px;  
    
    grid-template:
    "header" 50px
    "sidebar"100px
    "navbar"65px
    "main" auto
    "footer" 80px

}
.fab {
    color:white
}
#navbarDropdown{
    
color: white;
}

.dropdown-menu {
    background-color:rgba(37, 37, 37, 0.9);
    text-align: center;
    color: white;
    
}
.fa-user {
    size: 10rem;
    color: white;
}
.navbar-nav {
    gap: 5px;
    background-color: rgba(37, 37, 37, 0.9);
    
} 
h3 {color: white;}



.navbar-toggler * {
    display: block;
    top: 0px;
    align-items: stretch;
} 


.container-fluid * {
    color: rgb(47, 55, 172);
}


#catalogo {
     
      border-radius: 10px;
      align-items: stretch;
      color:black
      
}


.offcanvas-header {
    background-color:rgba(37, 37, 37, 0.9);
    color: white;

}
.offcanvas-body {
    background-color:rgba(37, 37, 37, 0.9);
    background-image: url("../assets/images/movie_bg8_top.jpg");
       
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.col-md-6{
    color: rgb(253, 253, 253);
}

#birthdayID{
    color: rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
}

.form-check-label{
    color: rgb(253, 253, 253);
}
.form {
    position:
}



/**************************************************/
/*            mediaquery                       */
/**************************************************/


@media (min-width: 600px){
    .grid_container {
     grid-template: 
        "header     header" 50px
        "navbar     sidebar " 150px
        "main       main"  auto
        "footer     footer" 100px /
        300px       auto;    
}
}

#idsection1  {
    align-items: center;
   
    

}



@media (min-width: 900px){
    .grid_container {
     grid-template: 
        "header header header" 50px
        "navbar main main" 500px
        "sidebar main main" auto
        "footer footer footer" 100px /
        250px   auto    0px ;

}

}

#LOGOCENTRAL {
    text-size-adjust: 0%;
    background-color: rgb(99, 3, 3);
 font-size: 50px;
 
     color: rgb(170, 28, 28);
     text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
     border: none;
     

    
  

 animation-name: radialGradient ;
 animation-iteration-count: infinite ;
 animation-duration: 5s;
}
.btn {
    color: rgba(255, 253, 253, 0.75);
    background-color: rgb(0, 0, 0)
}
        #registro01 {
        
        animation-name: gardiente ;
        animation-iteration-count:infinite ;
        animation-duration: 2s;
   
    }
            
/**************************************************/
/*            Animaciones                         */
/**************************************************/

       
   
    
@keyframes gardiente {
    0% {
        background-color: #cc0000;
    }
    50% {
        background-color: rgb(44, 0, 0);
    }
    75% {
        background-color: #cc0000;
    }
}


@keyframes radialGradient {

0% {
    background-color: #d7fc0a;
}
50% {
    background-color: rgb(43, 43,43);
}
75% {
    background-color: #fd0404;
}
100% {
    background-color: #fde404;
}
}




